*{
    color: blueviolet;
}

h1{
    color:red;
}
/*  esto es un comentario*/
p{
    color: green;
    font-size: 20px;
}
#primera-noticia{
    color: blue;
    font-size: 25px;
}
#segunda-noticia{
    color: brown;
    font-size: 20px;
}