@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@700&display=swap');

body{
    margin: 2rem;
    
}

.encabezado{
    background-color: black;
}

h1{
    font-family: 'Crimson Pro', serif;
    font-size: 2.5rem;
    padding: 1rem;
    color: white ;
    text-align: center;
}

#elemento-1,#elementoOrdenado-1{
    color: red;
}

ol{
    color: white;
}

ul{
    font-size: 2rem;
    color: white;
}